<%- include("header") %>

    <h1> Vos livres </h1>
    <ul>
        <% for( var livre of livres ) { %>
            <li> 
                <h4> Nom : <%= livre.name %> </h4>
                <h4> Auteur : <%= livre.autor %> </h4>
                <h4> Nombre de pages : <%= livre.pages %> </h4>
            </li>
        <% } %>
    </ul>

    <form action="/service/add/livre" method="post" >

        <h2> Ajouter un livre </h2>
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="autor" placeholder="autor" />
        <input type="number" name="pages" placeholder="nbre de pages" />
        <input type="submit" />

    </form>

<%- include("footer") %>